<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Organizer</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!--Добавление статических файлов-->
        <!--TO DO-->
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    {% if user.is_authenticated %}
                        {% block sidebar %}
                        
                        <ul class="sidebar-nav">
                            <p class="navbar-text navbar-left">Пользователь:
                                {% if user.is_superuser %}[АДМИН]{% elif user.profile.is_moderator %}[МОДЕРАТОР]{% endif %} {{ user.profile }}
                            </p>
                            <br>
                            <li><a href="{% url 'logout' %}">Выйти</a></li>
                            <li><a href="{% url 'index' %}">Домашняя страница</a></li>
                            <li><a href="{% url 'events' %}">Все события</a></li>
                            <li><a href="{% url 'user-events' %}">Мои события</a></li>
                            <li><a href="{% url 'account' %}">Аккаунт</a></li>
                            {% if user.is_superuser %}<li><a href="{% url 'users' %}">Пользователи</a></li>{% endif %}
                        </ul>
                        {% endblock sidebar %}
                        {% else %}
                        <a href="{% url 'login' %}">Click here to login.</a>
                    {% endif %}
                </div>
                <div class="col-sm-10">

                    {% block content %}
                    {% endblock content %}

                    {% block pagination %}
                        {% if is_paginated %}
                            <div class="pagination">
                                <span class="page-links">
                                    {% if page_obj.has_previous %}
                                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                                    {% endif %}
                                    <span class="page-current">
                                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                    </span>
                                    {% if page_obj.has_next %}
                                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                                    {% endif %}
                                </span>
                            </div>
                        {% endif %}
                    {% endblock pagination %}
                </div>
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>