{% extends 'base_generic.html' %}

{% block content %}
    <h1>Title: {{ event.title }}</h1>

    <p><strong>Owner:</strong> {{ event.owner.user.first_name }}</p>
    {% if event.allow_wife %}<p><strong>Wife allowed</strong></p>{% endif %}
    {% if event.allow_family %}<p><strong>Family allowed</strong></p>{% endif %}
    {% if event.for_kids %}<p><strong>For kids</strong></p>{% endif %}
    {% if event.number_of_participants %}<p><strong>Number of participants: {{ event.number_of_participants }}</strong></p>{% endif %}
    {% if event.event_date %}<p><strong>Event date: {{event.event_date}}</strong></p>{% endif %}
    {% if event.prepay_date %}<p><strong>Prepay date: {{ event.prepay_date }}</strong></p>{% endif %}
    {% if event.personal_transportation %}<p><strong>Need personal transportation</strong></p>{% endif %}
    {% if event.company_transport %}<p><strong>Company transport: {{ event.company_transport }}</strong></p>{% endif %}
    {% if event.company_transport_size %}<p><strong>Company transport size: {{ event.company_transport_size }}</strong></p>{% endif %}
    {% if event.main_price %}<p><strong>Main price: {{ event.main_price }}</strong></p>{% endif %}
    {% if event.other_prices %}<p><strong>Other prices: {{ event.other_prices }}</strong></p>{% endif %}
    {% if event.deposit %}<p><strong>Deposit: {{ event.deposit }}</strong></p>{% endif %}
    {% if event.some_properties %}<p>{{ event.some_properties }}</p>{% endif %}

    {% if is_participate %}
        <h4><strong>Вы записаны</strong></h4>
        <p><a href="{% url 'i-remind-event' pk=event.id %}">Не хочу</a></p>
    {% else %}
        <p><a href="{% url 'i-do-event' pk=event.id %}">Я иду!</a></p>
    {% endif %}

    {% if user.id == event.owner.id or user.profile.is_moderator %}
        <p><a href="{% url 'event-update' pk=event.id %}">Изменить</a> | <a href="{% url 'event-delete' pk=event.id %}">Удалить</a></p>
        {% for partic in event.participant_set.all %}
            <hr>
            <p>{{ partic.user.first_name }} {{ partic.user.second_name }} <strong>{% if partic.confirm %}Confirmed{% else %}<a href="{% url 'partic-confirm' pk=partic.id %}">Confirm</a>{% endif %}</strong></p>
        {% endfor %}
    {% endif %}
    

{% endblock content %}