{% extends 'base_generic.html' %}

{% block content %}

    <div class="col-sm-10 pt-3">
        <h4>Мои события</h4>

        {% if participant_list %}
            <div class="col-sm-10">
                {% for partic in participant_list %}    
                    <div class="card bg-light mb-3 {% if partic.event.is_past %}border-danger{% endif %}">
                        <div class="card-header">Событие</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ partic.event.title }} {% if partic.event.is_past %}*Завершилось*{% endif %}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ partic.event.event_date }}</h6>
                            <p class="card-text">{{ partic.event.some_properties }}</p>
                            <a href="{{ partic.event.get_absolute_url }}" class="card-link">Подробнее...</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>У вас ни в чем не было и нет участий</p>
        {% endif %}

    </div>
{% endblock content %}